.news-post_n0 {
    margin-bottom: 10px;
    font-family: 'Roboto',serif;
    font-weight: 300;
    color: #000;
    font-size: 18px;
    line-height: 1.55;
}

.social_bl {
    display: flex;
}

.social-text {
    padding: 15px;
    font-size: 16px;
    /*height: 160px;*/
    padding: 10px 30px 25px;
    position: relative;
    z-index: 1;
    background-color: #f0f0f0;
    flex-grow: 2;

}

.social-title {
    padding: 15px;
    font-size: 16px;
    /*height: 160px;*/
    height: 100px;
    font-weight: bold;
    padding: 20px 30px 10px;
    position: relative;
    z-index: 1;
    background-color: #f0f0f0;
    /*flex-grow: 2;*/
}

.social-icon_wrap {
    border-radius: 50%;
    color: #001020;
    background-color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding: 0 0 0;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.social_bl .social_a {

    background-color: #f0f0f0;
    /*padding-bottom: 40px;*/
    display: flex;
    flex-direction: column;
    height: 100%;

}

.social-icon {
    /*position: absolute;*/
    /*z-index: 5;*/
    /*bottom: 5px;*/
    /*right: 5px;*/
    text-align: right;
    padding: 0 10px 10px;
}

.vbox-container {
    overflow-y: initial;
}

.vbox-open {
    overflow: initial;
}


.video article a:not([data-vbtype="video"]):after {
    content: none;
}


.video-article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    position: relative;
}

.video-article:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s;
}

.video-article a {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.video-wrap {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.video-wrap:before {
    content: "";
    display: block;
    z-index: 5;
    background: url(../img/video_1.png) no-repeat 0 0/100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.video-article span {
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 30px;
    display: inline-block;
    /*position: absolute;*/
    /*bottom: 30px;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%, 0%);*/
    /*transform: translate(-50%, 0%);*/
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    /*height: 45px;*/
    /*line-height: 39px;*/
    font-weight: 700;
    /*white-space: nowrap;*/
    padding-top: 8px;
    padding-bottom: 8px;

}

.video-article:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.content a {
    text-decoration: underline;
    display: inline;
    color: #37aee2;
}

.content .back-home {
    display: block;
}

.cap_bl iframe {
    left: 0;
    top: 0;
    transform: none!important;
    padding-left: 15px;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}



/*hack flex  */

.news .article_h {

    /*height: 420px;*/
}

.news .article_h a {
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
.news .article_h a h2 {
    height: 180px;
    padding: 20px 30px 25px;
}
}
/*hack flex  */

.garpix img {
    width: 85px;
    height: auto;
}

.garpix a {
    color: white;
    text-decoration: none;
    text-align: right;
    display: none;
}

.smi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.smi:before {
    content: '';
    display: block;
}

aside.news a {
    text-decoration: none!important;
    color: #000!important;
    display: inline-block!important;
}

.comments .add-comment {
    color: #000;
}

header .logo {
    z-index: 2;
}

.article_date {
    flex-flow: column;
    display: flex!important;
}

.news_date {
    text-align: right;
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    color: #9b9b9b;
}

.vbox-title {
    height: initial;
    font-size: 20px;
    bottom: 0px!important;
    /* top: calc(100% - 65px)!important; */
    font-size: 18px;
    top: initial!important;
    padding: 10px 40px;
}

.video article a:after {
    top: 50%;
    transform: translate(-50%, -50%);
}


.slick-prev, .slick-next {
    width: 45px;
    height: 45px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
}

/*.slick-next {*/
    /*right: -50px;*/
/*}*/


/*.slick-prev {*/
    /*left: -50px;*/
/*}*/

@media (max-width: 768px) {
    .slick-next {
        right: 0px;
    }


    .slick-prev {
        left: 0px;
    }
}

.slick-dots li button:before {
    font-size: 15px;
    opacity: 0.7;
    color: white;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: red;
}

.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.slick-dots li {
    width: 25px;
}


.slick-dots {
    bottom: -38px;
}

.jsMainSlider {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.patriot-story img {
    height: auto;
    width: 100%;
}

.patriot-story a {
    color: inherit;
}


@media (min-width: 768px) {
    .main_photo_bl {
        margin-left: 8.33%;
    }

}

em {
    font-style: italic;
}






