@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

strong, b {
  font-weight: 700; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  line-height: 1.2;
  font-size: 14px;
  min-width: 320px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important; }

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

html, body, * {
  font-family: 'Roboto', sans-serif; }

.clearfix:before, .clearfix:after, .row:before, .row:after {
  display: table;
  content: "";
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.row {
  clear: both;
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body, html {
  color: #000;
  line-height: 1.2;
  font-size: 14px; }

@media (min-width: 992px) {
  body {
    padding-top: 10vh; } }

a {
  text-decoration: none;
  display: block;
  color: #000; }

img {
  max-width: 100%; }

section {
  position: relative;
  z-index: 1;
  overflow-x: hidden; }
  section:before, section:after {
    clear: both;
    display: block;
    content: ""; }

h1, h2, h3, h4, h5, h6 {
  text-align: left; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz22 {
  font-size: 22px; }

.fz24 {
  font-size: 24px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

header {
  background-color: #791924;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  @media (min-width: 992px) {
    header .container {
      height: 10vh;
      line-height: 10vh; } }
  header:before, header:after {
    clear: both;
    display: block;
    content: ""; }
  header .menu {
    display: none;
    padding-bottom: 15px; }
    @media (min-width: 992px) {
      header .menu {
        display: block !important;
        padding-bottom: 0; } }
  header .nav-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    width: 40px;
    height: 32px;
    display: block;
    padding: 0 4px;
    overflow: hidden; }
    @media (min-width: 992px) {
      header .nav-btn {
        display: none; } }
    header .nav-btn span {
      display: block;
      float: left;
      width: 50%;
      height: 2px;
      background-color: #fff;
      margin: 3px 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    header .nav-btn.active span:nth-child(3), header .nav-btn.active span:nth-child(4) {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px); }
  header .nav-menu {
    text-align: center; }
    @media (min-width: 992px) {
      header .nav-menu {
        display: inline-block;
        width: 100%;
        line-height: 1.5;
        vertical-align: middle; } }
    header .nav-menu li {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px; }
      @media (min-width: 992px) {
        header .nav-menu li {
          display: inline-block;
          vertical-align: middle;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 0;
          padding-bottom: 0; } }
      header .nav-menu li a {
        color: #fff;
        font-weight: 500;
        -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        text-decoration: none;
        font-size: 16px; }
        header .nav-menu li a:hover {
          color: #3b0e13; }
      header .nav-menu li.active a {
        text-decoration: underline; }
    @media (min-width: 992px) {
      header .nav-menu.nav-menu--left {
        padding-right: 150px;
        text-align: right; }
      header .nav-menu.nav-menu--right {
        padding-left: 150px;
        text-align: left; } }
  @media (min-width: 992px) {
    header.header-home .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }
  header.header-home .container {
    width: 100%; }
  header .logo {
    display: block;
    float: left; }
    header .logo img {
      display: block;
      width: auto;
      height: 60px; }
      @media (min-width: 768px) {
        header .logo img {
          height: 90px; } }
  header .language {
    float: right;
    margin-top: 20px; }
    @media (min-width: 768px) {
      header .language {
        margin-top: 0; } }
    header .language li {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px; }
      header .language li a {
        color: #fff;
        font-weight: 500;
        -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        text-decoration: none;
        font-size: 16px; }
        header .language li a:hover {
          color: #3b0e13; }
      header .language li.active a {
        color: #000; }
  header .smi {
    float: right;
    margin-right: 20px; }
    header .smi li {
      vertical-align: middle; }
      header .smi li a {
        color: #791924; }

.info {
  color: #fff;
  padding-top: 130px;
  padding-bottom: 30px;
  background-color: #001020; }
  @media (min-width: 992px) {
    .info {
      padding-top: 180px;
      padding-bottom: 115px;
      background: url(../img/maps5.png) no-repeat center center/cover; } }
  .info h1 {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700; }
    .info h1 span {
      color: #b62132; }
  .info p {
    font-weight: 300;
    line-height: 1.3; }

.news {
  padding-top: 80px;
  padding-bottom: 88px; }
  .news h1 {
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .news h1 {
        margin-bottom: 76px; } }
    .news h1 a {
      font-size: 22px;
      color: #03203b;
      font-weight: 700; }
      .news h1 a:hover {
        color: #791924; }
    .news h1:before {
      content: "";
      height: 3px;
      background-color: #791924;
      display: block;
      margin-bottom: 14px;
      width: 100%; }
      @media (min-width: 992px) {
        .news h1:before {
          width: 390px; } }
  .news article {
    display: block;
    margin-bottom: 30px; }
    .news article a {
      display: block;
      overflow: hidden; }
      .news article a img {
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .news article a h2 {
        background-color: #f0f0f0;
        font-weight: 600;
        color: #000;
        font-size: 19px;
        padding: 20px 15px;
        position: relative;
        z-index: 1; }
        @media (min-width: 768px) {
          .news article a h2 {
            height: 160px;
            padding: 20px 30px 25px; } }
      .news article a:hover img {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }

aside.news {
  padding-top: 0; }
  aside.news h2 {
    height: auto !important; }

.more {
  display: inline-block;
  color: #000c22;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #791924;
  height: 60px;
  line-height: 56px;
  min-width: 245px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .more:hover {
    background-color: #791924;
    color: #fff; }
  .more + .more {
    margin-top: 15px; }
    @media (min-width: 768px) {
      .more + .more {
        margin-top: 0;
        margin-left: 30px; } }

.patriot-story {
  color: #fff;
  line-height: 1.3;
  /*padding-top: 20px;*/
  padding-bottom: 0;
  background: url(../img/patriot-story.jpg) no-repeat center top/cover;
  overflow: hidden; }
  .patriot-story .container {
    z-index: 3; }
  .patriot-story:after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)); }
  .patriot-story h1 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    color: #fff; }
    @media (min-width: 992px) {
      .patriot-story h1 {
        padding-top: 150px; } }
  .patriot-story h2 {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    font-style: italic; }
  .patriot-story .patriot-image {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .patriot-story .patriot-image img {
      height: auto;
      width: 100%;
      display: block; }
  .patriot-story a {
    font-style: italic;
    color: #ff8562;
    margin-bottom: 60px; }
    @media (min-width: 992px) {
      .patriot-story a {
        margin-bottom: 0; } }
  .patriot-story .patriot {
    display: block; }

.pagination {
  text-align: center; }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 5px;
    background-color: #791924;
    color: #fff; }
    .pagination li a, .pagination li span {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      min-width: 30px;
      height: 30px;
      line-height: 30px;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .pagination li a:hover, .pagination li span:hover {
        background-color: #f0f0f0;
        color: #000; }
    .pagination li span {
      background-color: #791924 !important;
      color: #fff !important;
      cursor: default; }

.patriot-story-line {
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #001020; }
  .patriot-story-line h1 a {
    font-size: 22px;
    color: #fff;
    font-weight: 700; }
  .patriot-story-line h1:before {
    content: "";
    height: 3px;
    background-color: #791924;
    width: 300px;
    display: block;
    margin-bottom: 14px; }
  .patriot-story-line p {
    font-size: 22px;
    font-weight: 300; }

.events h1 {
  margin-bottom: 30px; }
  @media (min-width: 992px) {
    .events h1 {
      margin-bottom: 76px; } }
  .events h1 a {
    font-size: 22px;
    color: #03203b;
    font-weight: 700; }
    .events h1 a:hover {
      color: #791924; }
  .events h1:before {
    content: "";
    height: 3px;
    background-color: #791924;
    display: block;
    margin-bottom: 14px;
    width: 100%; }
    @media (min-width: 992px) {
      .events h1:before {
        width: 390px; } }

.events .container {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .events .container {
      padding-top: 120px;
      padding-bottom: 75px; } }

.events article {
  margin-bottom: 30px;
  display: block;
  height: 380px; }
  .events article.col-sm-12 {
    height: auto; }
  .events article a {
    display: block;
    overflow: hidden; }
    .events article a img {
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .events article a .box {
      display: block;
      background-color: #791924;
      padding: 15px 15px 70px;
      position: relative; }
      @media (min-width: 768px) {
        .events article a .box {
          height: 178px;
          padding: 15px; } }
      .events article a .box h2 {
        color: #fff;
        font-size: 16px;
        line-height: 21.6px;
        font-weight: 700; }
      .events article a .box .read-more {
        border: 1px solid #fff;
        display: inline-block;
        color: #fff;
        font-weight: 600;
        padding: 6px 15px 8px;
        border-radius: 2px;
        position: absolute;
        left: 15px;
        bottom: 15px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .events article a:hover img {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .events article a:hover .box .read-more {
      background-color: #fff;
      color: #791924; }

@media (min-width: 768px) {
  .feed {
    padding-bottom: 75px; } }

@media (min-width: 768px) {
  .feed h1 {
    margin-bottom: 75px; } }

.feed h1 a {
  font-size: 22px;
  color: #000;
  font-weight: 700; }
  .feed h1 a:hover {
    color: #791924; }

.feed h1:before {
  content: "";
  height: 3px;
  background-color: #791924;
  width: 100%;
  display: block;
  margin-bottom: 14px;
  margin-top: 8px; }

.feed h2 {
  color: #454545;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  padding: 10px 0 0; }
  @media (min-width: 768px) {
    .feed h2 {
      padding: 20px 20px 0; } }

.feed article {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .feed article {
      margin-bottom: 0; } }

.photo article {
  padding-left: 0;
  padding-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }
  .photo article img {
    display: block;
    width: 100%; }

.video article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center; }
  .video article:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s; }
  .video article a {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2; }
    .video article a:after {
      content: "";
      display: block;
      z-index: 5;
      background: url(../img/video_1.png) no-repeat 0 0/100% 100%;
      position: absolute;
      left: 50%;
      top: 50px;
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
      width: 70px;
      height: 70px; }
  .video article span {
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 30px;
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    line-height: 39px;
    font-weight: 700;
    white-space: nowrap; }
  .video article:hover:before {
    background-color: rgba(0, 0, 0, 0.5); }

.list {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .list {
      padding-top: 90px;
      padding-bottom: 90px; } }
  .list h1 {
    margin-bottom: 20px; }
    .list h1 a {
      font-size: 22px;
      color: #000;
      font-weight: 700; }
      .list h1 a:hover {
        color: #791924; }
    .list h1:before {
      content: "";
      height: 3px;
      background-color: #791924;
      width: 400px;
      display: block;
      margin-bottom: 14px;
      margin-top: 8px; }
  .list ol li {
    display: list-item;
    list-style: inside decimal;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.5; }
    @media (min-width: 768px) {
      .list ol li {
        padding-right: 5px; } }
    .list ol li a {
      font-weight: 400;
      display: inline; }
      .list ol li a:hover {
        text-decoration: underline; }
  .list .more {
    margin-bottom: 30px;
    margin-top: 15px; }
    @media (min-width: 768px) {
      .list .more {
        margin-bottom: 0; } }

footer {
  background-color: #001020;
  color: #fff;
  padding: 20px 0; }
  footer .gotop {
    color: #fff;
    padding-bottom: 10px;
    display: block;
    text-align: center; }
    @media (min-width: 768px) {
      footer .gotop {
        float: right;
        padding-bottom: 0;
        padding-top: 10px; } }
  footer small {
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    text-align: center; }
    @media (min-width: 768px) {
      footer small {
        float: left;
        padding-bottom: 0; } }

.smi {
  text-align: center; }
  .smi li {
    display: inline-block;
    vertical-align: top;
    padding: 0 2px; }
    .smi li a {
      display: block;
      border-radius: 50%;
      color: #001020;
      background-color: #fff;
      height: 32px;
      width: 32px;
      line-height: 32px;
      padding: 0 0 0;
      font-size: 20px;
      -webkit-transition: all ease-in-out .45s;
      transition: all ease-in-out .45s; }
      .smi li a:hover {
        opacity: .6; }

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px; }
  .popup h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px; }
  .popup iframe {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 5;
    -webkit-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /*width: 300px;*/
    /*height: 170px; */
  }
    @media (min-width: 768px) {
      .popup iframe {
        margin-top: 0;
        /*width: 760px;*/
        /*height: 428px; */
      } }
    @media (min-width: 992px) {
      .popup iframe {
        /*width: 990px;*/
        /*height: 557px; */
      } }
    @media (min-width: 768px) {
      .popup iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, 0%);
                transform: translate(-50%, 0%); } }
  .popup form {
    -webkit-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .popup .close {
    background: none;
    border: none;
    font-size: 40px;
    color: #fff;
    position: fixed;
    right: 15px;
    top: 5px;
    -webkit-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s; }
    .popup .close:before {
      content: "";
      position: fixed;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .popup .close:hover {
      opacity: .6; }
  @media (min-width: 768px) {
    .popup.active iframe {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .popup.active form {
      opacity: 1; } }

form {
  background-color: #fff;
  padding: 30px 30px 15px;
  max-width: 768px; }
  form label {
    display: block;
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500; }
  form input {
    display: block;
    width: 100%;
    border: 2px solid #791924;
    background: #fff;
    padding: 0 10px;
    height: 50px;
    color: #000;
    font-size: 16px; }
    form input[type="file"] {
      margin-top: 5px;
      background: none;
      border: none;
      font-size: 12px;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; }
    form input[type="submit"] {
      width: 200px;
      background-color: #791924;
      color: #fff;
      font-weight: 400;
      font-size: 16px; }
  form textarea {
    display: block;
    width: 100%;
    border: 2px solid #791924;
    background: #fff;
    padding: 10px;
    height: 150px;
    resize: none;
    color: #000;
    font-size: 16px; }
  form li {
    display: block;
    margin-bottom: 15px; }
    form li.label {
      margin-bottom: 0px; }

.content {
  padding-top: 100px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .content {
      padding-top: 150px;
      padding-bottom: 50px; } }
  .content h1 {
    font-size: 30px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px; }
  .content h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2.5px;
    margin-bottom: 10px; }
  .content .back-home {
    color: #ff8562;
    text-decoration: none;
    margin-bottom: 30px; }
  .content p {
    margin-bottom: 15px;
    font-family: 'Roboto',serif;
    font-weight: 300;
    color: #000;
    font-size: 18px;
    line-height: 1.55; }
  .content .row-images img {
    display: block;
    margin-bottom: 30px; }
  .content .box-gray {
    padding: 44px 50px;
    background-color: #e6e6e6; }
    .content .box-gray p {
      font-size: 16px;
      line-height: 22px;
      color: #000; }
    .content .box-gray h1 {
      margin-bottom: 30px; }
  .content .row-story + .row-story {
    border-top: 2px solid #e6e6e6;
    padding-top: 30px; }
  .content .post-image {
    display: block;
    width: 100%;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .content .post-image {
        margin-bottom: 0;
        float: left;
        max-width: 30%;
        margin-right: 30px; } }
  .content .social {
    margin-bottom: 30px; }

.comments h2 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1.5px;
  margin-bottom: 10px; }
  .comments h2 a {
    text-decoration: underline;
    display: inline-block; }
  .comments h2.comment-title {
    padding-top: 15px; }

.comments form {
  padding: 0;
  margin-bottom: 30px; }

.comment-form {
  display: none; }

.comments-list {
  max-width: 768px;
  padding-bottom: 50px; }
  .comments-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px; }
    .comments-list li .image {
      display: block;
      float: left;
      height: 50px;
      width: 50px;
      overflow: hidden;
      background-color: #ccc;
      border-radius: 50%;
      margin-right: 15px;
      margin-bottom: 8px; }
      .comments-list li .image img {
        display: block;
        width: 50px;
        height: 50px; }
    .comments-list li h4 {
      font-size: 14px;
      font-weight: 500;
      color: #000;
      letter-spacing: 1px;
      margin-bottom: 4px;
      padding-top: 4px; }
    .comments-list li p {
      font-size: 13px;
      line-height: 1.3; }
    .comments-list li ul {
      padding-left: 30px;
      margin-top: 15px; }
      .comments-list li ul li {
        border-bottom: none;
        padding-bottom: 0; }
    .comments-list li .like {
      display: block;
      text-align: right; }
      .comments-list li .like a {
        display: inline-block;
        margin: 0 5px;
        color: #ccc; }
        .comments-list li .like a i {
          font-size: 18px; }
