<script>
    window.current_language_code_url_prefix = '{{ current_language_code_url_prefix }}';
</script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

{#<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}

<script type="text/javascript" src="/static/slick/slick.min.js?2"></script>

<script src="/static/js/venobox.min.js"></script>


<script src="/static/js/scripts.js?2"></script>
<script src="/static/js/main.js?2"></script>