{% load solo_tags %}

{% get_solo 'options.SiteConfiguration' as site_config %}

<title>{{object.seo_title}}</title>
<meta name="keywords" content="{{object.seo_title}}">
<meta name="description" content="{{object.seo_description}}">
<meta property="og:title" content="{{object.seo_title}}">
<meta property="og:description" content="{{object.seo_description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{object.get_absolute_url}}">
<meta property="og:site_name" content="{{object.title}}">
<meta property="og:locale" content="ru_RU">
<link rel="canonical" href="{{ object.get_absolute_url }}" />
