<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">

<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/venobox.css">

<link rel="stylesheet" type="text/css" href="/static/slick/slick.css?1"/>
<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css?1"/>

<link rel="stylesheet" href="/static/css/style.css?1">
<link rel="stylesheet" href="/static/css/n0.css?2">

{#<script src='https://www.google.com/recaptcha/api.js'></script>#}
<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallbackRender&render=explicit" async defer></script>




{#<meta name="viewport" content="width=device-width,initial-scale=1">#}


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

{#<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">#}


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47284269 = new Ya.Metrika({
                    id:47284269,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47284269" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->