{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}

{% block content %}

<h1>{{object.title}}</h1>
<div>
    {{object.content|safe}}
</div>
<div>
    {% get_include_area request 'ia_page_text' title='Текст на странице' content='Просто текст из включаемой области на ОБЫЧНОЙ странице' page=object %}
</div>

{% endblock %}