{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}
{% load thumbnail %}

{% block content %}


<sections id="events" class="events page clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><a href="/events/">мероприятия</a></h1>
			</div>
			<div class="col-md-6 text-right">
				<a href="#" class="open-popup more" popup="form2">предложить мероприятие</a>
			</div>
		</div>
		<div class="row">

            {% for event in events_obj_list %}

                <article class="col-md-3 article_h">
                    <a href="{{ event.get_absolute_url }}">
{#                        <img src="/media/{{ event.image }}" alt="" width="100%">#}
                        {% thumbnail event.image '1200x900' crop='center' format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive w100">
                        {% endthumbnail %}
                        <span class="box">
                            <h2>{{ event.title }}</h2>
                            <span class="read-more">перейти</span>
                        </span>
                    </a>
                </article>

            {% endfor %}





			<article class="col-sm-12">

                <ul class="pagination">
					<ul>

                        {% if events_prev  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/events/?page={{ events_prev }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% if not events_min|add:"0" in events_range %}

                            <li><a href="/events/?page={{ events_min }}">{{ events_min }}</a></li>

                            {% if not events_min|add:"1" in events_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in events_range %}

                            {% if i == events_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

                            <li><a href="/events/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>

                            {% else %}

                                <li><a href="/events/?page={{ i }}">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not events_max|add:"0" in events_range %}

                            {% if not events_max|add:"-1" in events_range %}



                                <li><span>...</span></li>

                            {% endif %}




                            <li><a href="/events/?page={{ events_max }}">{{ events_max }}</a></li>

                        {% endif %}



{#						<li><a href="#">9</a></li>#}

{#						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}

                        {% if events_next  %}
{#                            <a href="/video/view/{{ events_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/events/?page={{ events_next }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}

					</ul>
				</ul>

			</article>
		</div>
	</div>
</sections>




{% endblock %}