{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}

{% load lookup %}

{% block content %}

<section class="content">
	<div class="container">
		<div class="row row-images row-story">
			<div class="col-md-6">
				<img src="/media/{{ images.0.image }}" alt="" width="100%">
{#                <img src="/media/{{ new.image }}" alt="">#}
				<div class="row">
					<div class="col-md-6"><img src="/media/{{ images.1.image }}" alt="" width="100%"></div>
					<div class="col-md-6"><img src="/media/{{ images.2.image }}" alt="" width="100%"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-gray">
					<h1>{{ history.title }}</h1>
					<a href="/" class="back-home">→ на главную</a>

                    {{ history.content|safe }}


				</div>
			</div>
		</div>


        <ul class="pagination">
					<ul>

                        {% if history_prev  %}

                            <li><a href="/history/{{  all_hist|lookup:history_prev }}/"><i class="fa fa-angle-left"></i></a></li>

                        {% endif %}

                        {% if not history_min|add:"0" in history_range %}

{#                            <li><a href="/news/?page={{ news_min }}">{{ news_min }}</a></li>#}
                            <li><a href="/history/{{ all_hist|lookup:history_min }}/">{{ history_min }}</a></li>

                            {% if not history_min|add:"1" in history_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in history_range %}

                            {% if i == history_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

{#                            <li><a href="/history/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>#}
                            <li><a href="/history/{{ all_hist|lookup:i }}/" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>


                            {% else %}

                                <li><a href="/history/{{ all_hist|lookup:i }}/">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not history_max|add:"0" in history_range %}

                            {% if not history_max|add:"-1" in history_range %}


                                <li><span>...</span></li>

                            {% endif %}


                            <li><a href="/history/{{ all_hist|lookup:history_max }}/">{{ history_max }}</a></li>


                        {% endif %}

                        {% if history_next  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/history/{{ all_hist|lookup:history_next }}/"><i class="fa fa-angle-right"></i></a></li>


                        {% endif %}

					</ul>
				</ul>



{#		<ul class="pagination">#}
{#			<ul>#}
{#				<li><a href="#"><i class="fa fa-angle-left"></i></a></li>#}
{#				<li><a href="#">1</a></li>#}
{#				<li><a href="#">2</a></li>#}
{#				<li><a href="#">3</a></li>#}
{#				<li><a href="#">4</a></li>#}
{#				<li><a href="#">5</a></li>#}
{#				<li><span>...</span></li>#}
{#				<li><a href="#">9</a></li>#}
{#				<li><a href="#">10</a></li>#}
{#				<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}
{#			</ul>#}
{#		</ul>#}
	</div>
</section>

{% endblock %}