{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}
{% load get_include_area_without_safe %}

{% load youtube_validation %}
{% load thumbnail %}

{% block content %}


{#<h1>{{object.title}}</h1>#}
{#<div>#}
{#    <p>{% if is_home_page %}This is home page!{% endif %}</p>#}
{#    {{object.content|safe}}#}
{#</div>#}
{#<div>#}
{#    {% get_include_area request 'ia_page_text' title='Текст на странице' content='Просто текст из включаемой области на ГЛАВНОЙ странице' page=object %}#}
{#</div>#}


<section id="info" class="info">
	<div class="container">
		<h1>ПАТРИОТ<span>ИНФО</span></h1>
		<p>о проекте <br><br><br></p>
		<p class="fz18">

            {% get_include_area request 'about_project' title='О проекте(главная)' content='О проекте' page=object %}
{#            {% get_include_area_without_safe request 'about_project' title='О проекте(главная)' content='О проекте' page=object %}#}

		</p>
	</div>
</section>

<section id="news" class="news">
	<div class="container">
{#        todo-sl0nn вывести ссылку из базы#}
		<h1><a href="/news/">новости патриотизма</a></h1>
		<div class="row">

            {% for new in news_1 %}

                <article class="col-md-4 col-sm-6 article_h">
                    <a href="{{ new.get_absolute_url }}">

                        {% thumbnail new.image '1200x900' crop='center' format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive w100">
                        {% endthumbnail %}

                        <h2>{{ new.title }}</h2>
                        <div class="news_date">
                            {{ new.date_at|date:"d.m.y" }}
                        </div>
                    </a>
                </article>

            {% endfor %}

            {% for new in news_2 %}

               <article class="col-md-4 col-sm-6 article_h" style="display: none">
                    <a href="{{ new.get_absolute_url }}">
{#                        <img src="/media/{{ new.image }}" alt="">#}

                        {% thumbnail new.image '1200x900' crop='center' format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive w100">
                        {% endthumbnail %}

                        <h2>{{ new.title }}</h2>
                        <div class="news_date">
                            {{ new.date_at|date:"d.m.y" }}
                        </div>
                    </a>
                </article>

            {% endfor %}


		</div>
		<p class="text-center">
			<a href="#" class="more show-more">показать еще</a>
			<a href="/news/" class="more news-more" style="display: none">показать все</a>
{#            todo-sl0nn ссылка#}
		</p>
	</div>
</section>

<section id="patriot-story-line" class="patriot-story-line">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1><a href="{{ history1.0.get_absolute_url }}">истории патриотизма</a></h1>
			</div>
{#			<div class="col-md-8">#}
{#				<p class="fz22">#}
{#                    {{ history.0.short_descr_for_main|safe }}#}
{##}
{#                </p>#}
{#			</div>#}
		</div>
	</div>
</section>




<section id="patriot-story" class="patriot-story">

	<div class="container">

		<div class="row jsMainSlider">
        {% for history in histories_slide %}
            <div class="col-md-12">

            <a href="{{ history.get_absolute_url }}">
                <div class="col-md-6">
                    <h1>{{ history.title }}</h1>
                    <h2>{{ history.position }}</h2>

                    <br><br>


                        <span class="fz16">


    {#                    {{ history.descr_for_main|safe }}#}

                        {{ history.short_descr_for_main|safe }}


                        </span>





                    <br><br>
    {#				<a href="/history/">перейти в раздел «истории патриотизма»</a>#}
{#                    <a href="{{ history1.0.get_absolute_url }}">перейти в раздел «истории патриотизма»</a>#}
                </div>
                </a>
{#                <div class="col-md-6" style="display: flex;">#}
                <div class="col-md-4 main_photo_bl" style="">

                    {% thumbnail history.image '600x700' crop='center' format="PNG" as im %}
                        <img src="{{ im.url }}" class="img-responsive w100">
                    {% endthumbnail %}

    {#				<img src="/static/img/patriot.png" alt="" class="patriot">#}
                </div>
            </div>
        {% endfor %}
		</div>

	</div>

</section>




{#<section id="patriot-story" class="patriot-story">#}
{#	<div class="container">#}
{#		<div class="row">#}
{#			<div class="col-md-6">#}
{#				<h1>{{ history.0.title }}</h1>#}
{#				<h2>{{ history.0.position }}</h2>#}
{##}
{#				<br><br>#}
{##}
{##}
{#                <span class="fz16">#}
{##}
{##}
{#                {{ history.0.descr_for_main|safe }}#}
{##}
{##}
{#                </span>#}
{##}
{##}
{##}
{#				<br><br>#}
{#				<a href="/history/">перейти в раздел «истории патриотизма»</a>#}
{#				<a href="{{ history1.0.get_absolute_url }}">перейти в раздел «истории патриотизма»</a>#}
{#			</div>#}
{#			<div class="col-md-6" style="display: flex;">#}
{##}
{##}
{#                {% thumbnail history.0.image '600x700' crop='center' format="PNG" as im %}#}
{#                    <img src="{{ im.url }}" class="img-responsive w100">#}
{#                {% endthumbnail %}#}
{##}
{#				<img src="/static/img/patriot.png" alt="" class="patriot">#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</section>#}



<sections id="events" class="events">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><a href="/events/">мероприятия</a></h1>
			</div>
			<div class="col-md-6 text-right">
				<a href="#" class="open-popup more" popup="form2">предложить мероприятие</a>
			</div>
		</div>
		<div class="row">

            {% for event in events1 %}

                <article class="col-md-3">
				<a href="{{ event.get_absolute_url }}">

                    {% thumbnail event.image '1200x900' crop='center' format="PNG" as im %}
                        <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                    {% endthumbnail %}

{#					<img src="/media/{{ event.image }}" alt="" width="100%">#}
					<span class="box">
						<h2>{{ event.title }}</h2>
						<span class="read-more">перейти</span>
					</span>
				</a>
			</article>

            {% endfor %}

        {% for event in events2 %}

                <article class="col-md-3" style="display: none">
				<a href="{{ event.get_absolute_url }}">
{#					<img src="/media/{{ event.image }}" alt="" width="100%">#}
                    {% thumbnail event.image '1200x900' crop='center' format="PNG" as im %}
                        <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                    {% endthumbnail %}
					<span class="box">
						<h2>{{ event.title }}</h2>
						<span class="read-more">перейти</span>
					</span>
				</a>
			</article>

            {% endfor %}






		</div>
		<p class="text-center">
			<a href="#" class="more show-more">показать еще</a>
			<a href="/events/" class="more events-more" style="display: none">показать все</a>
		</p>
	</div>
</sections>

<section id="feed" class="feed">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h1><a href="/social/">лента</a></h1>
			</div>
			<div class="col-md-9">
				<p class="fz24">Следите за новостями из соцсетей</p>
			</div>
		</div>
		<div class="row">


            {% for social in socials %}

{#                <article class="col-md-3">#}
{#				<a href="{{ event.get_absolute_url }}">#}
{#					<img src="/media/{{ event.image }}" alt="" width="100%">#}
{#					<span class="box">#}
{#						<h2>{{ event.title }}</h2>#}
{#						<span class="read-more">перейти</span>#}
{#					</span>#}
{#				</a>#}
{#			</article>#}


                <article class="col-md-3">
                <a href="{{ social.get_absolute_url }}">
{#                    <img src="/media/{{ social.image }}" alt="">#}

                    {% thumbnail social.image '1200x900' crop='center' format="PNG" as im %}
                        <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                    {% endthumbnail %}

                    <h2>{{ social.title }}</h2>
                </a>
                </article>



            {% endfor %}

		</div>
	</div>
</section>

<section id="photo" class="photo video">
	<div class="container-fluid">
		<div class="row">
			<article class="col-md-3">
                <a href="/foto-i-video/" style="position: relative"><img src="/static/img/photo001.png" alt=""></a>
            </article>



            {% for photo_video in photo_videos %}

                {% if photo_video.link|length > 2 %}

{#                   <article class="col-md-3 " >#}
{#                       <div class="video-article" style="background-image: url(/media/{{ photo_video.image }})">#}
{#                            <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/{{ photo_video.link|youtube_url_validation }}">#}
{#                                <div class="video-wrap">#}
{#                                    <span>{{ photo_video.title }}</span>#}
{#                                </div>#}
{#                            </a>#}
{#                       </div>#}
{#                    </article>#}


                    <article class="col-md-3" style="background-image: url(/media/{{ photo_video.image }})">
                        <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/{{ photo_video.link|youtube_url_validation }}">
{#                            <span>{{ photo_video.title }}</span>#}
                        </a>
                    </article>


                {% else %}

                    <article class="col-md-3">
                        <a class="venobox" data-gall="myGallery" data-title="{{ photo_video.title }}" href="/media/{{ photo_video.image }}">
                            {% thumbnail photo_video.image '720x434' crop='center' format="PNG" as im %}
                                <img src="{{ im.url }}" alt="{{ photo_video.title }}">
                            {% endthumbnail %}

{#                            <img src="/media/{{ photo_video.image }}" alt="{{ photo_video.title }}"/>#}
                        </a>
                    </article>


                {% endif %}

            {% endfor %}


{##}
{#            <article class="col-md-3">#}
{#                <a class="venobox" data-gall="myGallery" href="/static/img/photo003.jpg"><img src="/static/img/photo003.jpg" alt="image alt"/></a>#}
{#            </article>#}
{##}

{##}
{#            <article class="col-md-3">#}
{#                <a class="venobox" data-gall="myGallery" href="/static/img/photo004.jpg"><img src="/static/img/photo004.jpg" alt="image alt"/></a>#}
{#            </article>#}
{##}
{##}
{##}
{#            <article class="col-md-3" style="background-image: url(/static/img/video001.png)">#}
{#                <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/7El3-A74t04"><span>Москва. Бессмертный полк 2017</span></a>#}
{#			</article>#}
{##}
{#            <article class="col-md-3" style="background-image: url(/static/img/video001.png)">#}
{#                <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/7El3-A74t04"><span>Москва. Бессмертный полк 2017</span></a>#}
{#			</article>#}
{##}
{#            <article class="col-md-3" style="background-image: url(/static/img/video001.png)">#}
{#                <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/7El3-A74t04"><span>Москва. Бессмертный полк 2017</span></a>#}
{#			</article>#}

		</div>
	</div>
</section>

{#<section id="video" class="video">#}
{#	<div class="container-fluid">#}
{#		<div class="row">#}
{#			<article class="col-md-3" style="background-image: url(/static/img/video001.png)">#}
{#                <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/7El3-A74t04"><span>Москва. Бессмертный полк 2017</span></a>#}
{#			</article>#}
{#			<article class="col-md-3" style="background-image: url(/static/img/video002.png)">#}
{#				<a class="open-popup" popup="video" href="#" video="uzT0QLRgXlg"><span>Парад 7 ноября на Красной площади</span></a>#}
{#			</article>#}
{#			<article class="col-md-3" style="background-image: url(/static/img/video003.png)">#}
{#				<a class="open-popup" popup="video" href="#" video="u3vpKbX_mh4"><span>Реконструкция начала В.О.В. Брест 2017</span></a>#}
{#			</article>#}
{#			<article class="col-md-3" style="background-image: url(/static/img/video004.png)">#}
{#				<a class="open-popup" popup="video" href="#" video="Yl337QIMtD4"><span>Фестиваль «Русское поле»</span></a>#}
{#			</article>#}
{#		</div>#}
{#	</div>#}
{#</section>#}

{#<section id="list" class="list">#}
{#	<div class="container">#}
{#		<h1><a href="#">список патриотических организаций</a></h1>#}
{#		<div class="row">#}
{#			<div class="col-md-8">#}
{#				<ol class="row">#}
{##}
{#                    {% for org in orgs %}#}
{##}
{#                        <li class="col-md-6"><a href="{{ org.get_absolute_url }}">{{ org.title }}</a></li>#}
{##}
{#                    {% endfor %}#}
{##}
{#				</ol>#}
{#				<p class="text-center">#}
{#					<a href="#" class="open-popup more" popup="form1">добавить свою организацию</a>#}
{#				</p>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<img src="/static/img/logo-bottom.png" alt="">#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</section>#}


<sections id="events" class="events">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><a href="/organization/">патриотические ораганизации</a></h1>
			</div>
			<div class="col-md-6 text-right">
                <a href="#" class="open-popup more" popup="form1">добавить свою организацию</a>
			</div>
		</div>
		<div class="row">

            {% for org in orgs1 %}

                <article class="col-md-3">
				<a href="{{ org.get_absolute_url }}">

{#                    {{ org.image }}#}
{#                    {{ org.image|length }}#}

                    {% if org.image|length > 3 %}

                        {% thumbnail org.image '1200x900' crop='center' format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                        {% endthumbnail %}

                    {% else %}


                        {% with request.scheme|add:'://'|add:request.get_host|add:"/static/img/logo-bottom.png" as path %}
                            {% thumbnail path '1200x900' crop='center' format="PNG" as im %}
                                <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                            {% endthumbnail %}
                        {% endwith %}

{#                        {% thumbnail request.build_absolute_uri + "/static/img/logo-bottom.png" '1200x900' crop='center' format="PNG" as im %}#}
{#                            <img src="{{ im.url }}" class="img-responsive w100" width="100%">#}
{#                        {% endthumbnail %}#}

                    {% endif %}

{#					<img src="/media/{{ event.image }}" alt="" width="100%">#}
					<span class="box">
						<h2>{{ org.title }}</h2>
						<span class="read-more">перейти</span>
					</span>
				</a>
			</article>

            {% endfor %}

        {% for org in orgs2 %}

                <article class="col-md-3" style="display: none">
				<a href="{{ org.get_absolute_url }}">

                    {% if org.image|length > 3 %}

                        {% thumbnail org.image '1200x900' crop='center' format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                        {% endthumbnail %}

                    {% else %}


                        {% with request.scheme|add:'://'|add:request.get_host|add:"/static/img/logo-bottom.png" as path %}
                            {% thumbnail path '1200x900' crop='center' format="PNG" as im %}
                                <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                            {% endthumbnail %}
                        {% endwith %}

{#                        {% thumbnail request.build_absolute_uri + "/static/img/logo-bottom.png" '1200x900' crop='center' format="PNG" as im %}#}
{#                            <img src="{{ im.url }}" class="img-responsive w100" width="100%">#}
{#                        {% endthumbnail %}#}

                    {% endif %}


					<span class="box">
						<h2>{{ org.title }}</h2>
						<span class="read-more">перейти</span>
					</span>
				</a>
			</article>

            {% endfor %}






		</div>
		<p class="text-center">
			<a href="#" class="more show-more">показать еще</a>
			<a href="/organization/" class="more events-more" style="display: none">показать все</a>
		</p>
	</div>
</sections>




{% endblock %}