{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}
{% load thumbnail %}

{% block content %}


<section id="news" class="news page">
	<div class="container">
		<h1><a href="#">новости патриотизма</a></h1>
{#    todo-sl0nn название из навзвания страницы#}
		<div class="row flexwrap">
            {% for new in news_obj_list %}
			<article class="col-md-4 col-sm-6 article_h">
				<a href="{{ new.get_absolute_url }}" class="article_date">

                    {% thumbnail new.image '1200x900' crop='center' format="PNG" as im %}
                        <img src="{{ im.url }}" class="img-responsive w100">
                    {% endthumbnail %}

{#					<img src="/media/{{ new.image }}" alt="">#}
					<h2>{{ new.title }}</h2>
                    <div class="news_date">

                        {{ new.date_at|date:"d.m.y" }}

                    </div>
				</a>
			</article>
            {% endfor %}


			<article class="col-sm-12">
				<ul class="pagination">
					<ul>

                        {% if news_prev  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/news/?page={{ news_prev }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% if not news_min|add:"0" in news_range %}

                            <li><a href="/news/?page={{ news_min }}">{{ news_min }}</a></li>

                            {% if not news_min|add:"1" in news_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in news_range %}

                            {% if i == news_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

                            <li><a href="/news/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>

                            {% else %}

                                <li><a href="/news/?page={{ i }}">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not news_max|add:"0" in news_range %}

                            {% if not news_max|add:"-1" in news_range %}



                                <li><span>...</span></li>

                            {% endif %}




                            <li><a href="/news/?page={{ news_max }}">{{ news_max }}</a></li>

                        {% endif %}



{#						<li><a href="#">9</a></li>#}

{#						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}

                        {% if news_next  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/news/?page={{ news_next }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}

					</ul>
				</ul>
			</article>
		</div>
	</div>
</section>




{% endblock %}