{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}

{% block content %}


<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>новости патриотизма</h2>
{#                todo-sl0nn название #}


				<h1>{{ news.title }}</h1>
				<a href="/" class="back-home">→ на главную</a>
				<div class="news-post news-post_n0">
{#                    <img src="/media/{{ new.image }}" alt="">#}
					<img src="/media/{{ news.image }}" alt="" class="post-image">

                    {{ news.content|safe }}

{#					<p>В Госдуму внесен проект закона «О патриотическом воспитании», который подписали 48 депутатов фракции «Единая Россия». Как пояснили авторы документа, его цель – определить единый подход к патриотическому воспитанию, дать юридически точные определения понятиям «патриотизм», «отечество» и «патриотическое воспитание». Главной задачей патриотического воспитания единороссы видят формирование национального самосознания. Для этого предлагается, в том числе, привлечение священнослужителей традиционных конфессий, которые могли бы помочь воспитать в прихожанах стремление служить Родине, уважение к законам и символике России.</p>#}
{#					<p>Предполагается, что Госдума рассмотрит документ до конца 2017 года, и уже в следующем году он обретет статус закона.</p>#}
				</div>
				<div class="social">
					<!-- uSocial -->
					<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
					<div class="uSocial-Share" data-pid="74933d459b6e3a4f19bd3b3d0c1ef10b" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size24,eachCounter0,counter1,counter-after" data-social="vk,fb,twi,gPlus,ok,telegram" data-mobile="vi,wa,sms"></div>
					<!-- /uSocial -->
				</div>

{#                todo-sl0nn rкомментарии и лайки#}

				<section class="comments">
                    {% if user.is_authenticated %}
					    <h2><i class="fa fa-comments" aria-hidden="true"></i> <a href="#" class="add-comment">Добавить комментарий</a></h2>
                    {% endif %}
                    {% if not user.is_authenticated %}
					    <h2><i class="fa fa-comments" aria-hidden="true"></i> <a href="#" class="add-auth">Добавить комментарий</a></h2>
                    {% endif %}

                    <div class="social_auth" style="display: none">

                        Для того, чтобы отправить комментарий, авторизуйтесь через социальные сети
                        <br><br>

{#                        <a href='{% url "social:begin" "vk-oauth2" %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}'>#}
                        <a href='{% url "social:begin" "vk-oauth2" %}?next={{ request.path }}'>


                            <img src="{% static 'img/vk.png' %}" style="width: 30px;" />
                        </a>

                    </div>



					<form action="/" class="comment-form jsForm jsFormP" name="comments">
                        <input type="hidden" name="news_id" value="{{ news.pk }}">
						<ul class="row">
							<li class="col-sm-12">
								<textarea id="text" cols="30" rows="10" placeholder="Ваш текст" name="text"></textarea>
							</li>
							<li class="col-sm-12">
								<input type="submit" value="Оставить комментарий">
							</li>
						</ul>
					</form>
					<h2 class="comment-title">Комментарии:</h2>
					<ul class="comments-list">


                        {% for news_comment in news_comments %}

                            <li>
                                <span class="image"><img src="" alt=""></span>
                                <span class="text">
                                    <h4>{{ news_comment.author }}</h4>
                                    <p>{{ news_comment.comments_text }}</p>
                                </span>
                                <span class="like">
                                    <a href="#" class="addLike" data-comment-id="{{ news_comment.pk }}"><i class="fa fa-thumbs-up"></i> {{ news_comment.likes.all.count }}</a>
                                    <a href="#"class="addDisLike" data-comment-id="{{ news_comment.pk }}"><i class="fa fa-thumbs-down"></i> {{ news_comment.dislikes.all.count }}</a>
                                </span>
{#                                <ul class="second-level">#}
{#                                    <li>#}
{#                                        <span class="image"><img src="" alt=""></span>#}
{#                                        <span class="text">#}
{#                                            <h4>Thomas White</h4>#}
{#                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa placeat tempore maiores labore odio minima repellendus et unde libero quae possimus numquam enim consequatur iste officia temporibus laborum amet ex minus, aliquam officiis voluptates ea reprehenderit explicabo maxime! Nulla minima dolorem harum dolorum non mollitia repellat dolores nemo, quis commodi.</p>#}
{#                                        </span>#}
{#                                    </li>#}
{#                                </ul>#}
                            </li>


                        {% endfor %}

					</ul>
				</section>
			</div>
			<div class="col-md-4">
				<aside class="news">
					<div class="row">

                        {% for new in extra_news %}
                            <article class="col-sm-12">
                                <a href="{{ new.get_absolute_url }}">
                                    <img src="/media/{{ new.image }}" alt="">
                                    <h2>{{ new.title }}</h2>
                                </a>
                            </article>

                        {% endfor %}




{#						<article class="col-sm-12">#}
{#							<a href="single-news.html">#}
{#								<img src="img/news002.png" alt="">#}
{#								<h2>В Саратовской области более 100 тысяч людей приняли участие в патриотических акциях</h2>#}
{#							</a>#}
{#						</article>#}
{#						<article class="col-sm-12">#}
{#							<a href="single-news.html">#}
{#								<img src="img/news003.png" alt="">#}
{#								<h2>Министр спорта: «Все наши спортсмены – патриоты своей страны»</h2>#}
{#							</a>#}
{#						</article>#}
					</div>
					<p class="text-center">
{#                        todo-s ссылка#}
						<a href="/news/" class="more">все новости</a>
					</p>
				</aside>
			</div>
		</div>
	</div>
</section>



{% endblock %}