{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}

{% block content %}


<section class="content">
	<div class="container">
		<h2>организации</h2>
		<h1>{{ orgs.title }}</h1>
		<div class="row">
			<div class="col-md-8">
				<a href="/" class="back-home">→ на главную</a>
				<p>

                    {{ orgs.content|safe }}

                </p>

                <p>

                    {% if orgs.fio %}
                        <b>ФИО {{ orgs.fio }}</b><br>
                    {% endif %}
                    {% if orgs.phone %}

                        <b>Телефон {{ orgs.phone }}</b><br>
                    {% endif %}
                    {% if orgs.email %}
                        <b>email: {{ orgs.email }}</b><br>
                    {% endif %}

                </p>
			</div>
			<div class="col-md-4">
				<img src="/media/{{ orgs.image }}" alt="">
			</div>
			<div class="col-sm-12">
				<!-- uSocial -->
				<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
				<div class="uSocial-Share" data-pid="74933d459b6e3a4f19bd3b3d0c1ef10b" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size24,eachCounter0,counter1,counter-after" data-social="vk,fb,twi,gPlus,ok,telegram" data-mobile="vi,wa,sms"></div>
				<!-- /uSocial -->
			</div>
		</div>
	</div>
</section>

{% endblock %}