{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}
{% load thumbnail %}

{% block content %}

<sections id="events" class="events page clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><a href="/organization/">патриотические ораганизации</a></h1>
			</div>
			<div class="col-md-6 text-right">
                <a href="#" class="open-popup more" popup="form1">добавить свою организацию</a>
			</div>
		</div>
		<div class="row">

            {% for org in orgs_obj_list %}

                <article class="col-md-3 article_h">
                    <a href="{{ org.get_absolute_url }}">
{#                        <img src="/media/{{ event.image }}" alt="" width="100%">#}

{#                        {{ org.image|length }}#}

                        {% if org.image|length > 3 %}

                            {% thumbnail org.image '1200x900' crop='center' format="PNG" as im %}
                                <img src="{{ im.url }}" class="img-responsive w100">
                            {% endthumbnail %}

                        {% else %}

                            {% with request.scheme|add:'://'|add:request.get_host|add:"/static/img/logo-bottom.png" as path %}
                                {% thumbnail path '1200x900' crop='center' format="PNG" as im %}
                                    <img src="{{ im.url }}" class="img-responsive w100">
                                {% endthumbnail %}
                            {% endwith %}


                        {% endif %}

                        <span class="box">
                            <h2>{{ org.title }}</h2>
                            <span class="read-more">перейти</span>
                        </span>
                    </a>
                </article>

            {% endfor %}





			<article class="col-sm-12">

                <ul class="pagination">
					<ul>

                        {% if orgs_prev  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/organization/?page={{ orgs_prev }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% if not orgs_min|add:"0" in orgs_range %}

                            <li><a href="/organization/?page={{orgs_min }}">{{ orgs_min }}</a></li>

                            {% if not orgs_min|add:"1" in orgs_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in orgs_range %}

                            {% if i == orgs_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

                            <li><a href="/organization/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>

                            {% else %}

                                <li><a href="/organization/?page={{ i }}">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not orgs_max|add:"0" in orgs_range %}

                            {% if not orgs_max|add:"-1" in orgs_range %}



                                <li><span>...</span></li>

                            {% endif %}




                            <li><a href="/organization/?page={{ orgs_max }}">{{ orgs_max }}</a></li>

                        {% endif %}



{#						<li><a href="#">9</a></li>#}

{#						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}

                        {% if orgs_next  %}
{#                            <a href="/video/view/{{ events_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/organization/?page={{ orgs_next }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}

					</ul>
				</ul>

			</article>
		</div>
	</div>
</sections>

{% endblock %}