{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}

{% load thumbnail %}

{% load youtube_validation %}

{% block content %}


<section id="news" class="news page photo-video-det">
	<div class="container">
		<h1><a href="#">Фото и видео</a></h1>
{#    todo-sl0nn название из навзвания страницы#}
		<div class="row">


            {% for photo_video in photo_videos_obj_list %}

                {% if photo_video.link|length > 2 %}

                   <article class="col-md-3 " >
                       <div class="video-article" style="background-image: url(/media/{{ photo_video.image }})">
                            <a class="venobox" data-vbtype="video" data-autoplay="true" data-gall="myGallery" href="http://youtu.be/{{ photo_video.link|youtube_url_validation }}">
                                <div class="video-wrap">
{#                                    <span>{{ photo_video.title }}</span>#}
                                </div>
                            </a>
                       </div>
                    </article>

                {% else %}

                    <article class="col-md-3">
{#                    <div class="video-article">#}
                        <a class="venobox" data-gall="myGallery" data-title="{{ photo_video.title }}"  href="/media/{{ photo_video.image }}">
                             {% thumbnail photo_video.image '720x434' crop='center' format="PNG" as im %}
                                <img src="{{ im.url }}" alt="{{ photo_video.title }}" class="ph-detail">
                            {% endthumbnail %}
{#                            <img src="/media/{{ photo_video.image }}" alt="{{ photo_video.title }}"/>#}
                        </a>
{#                    </div>#}
                    </article>


                {% endif %}

            {% endfor %}


			<article class="col-sm-12">
				<ul class="pagination">
					<ul>

                        {% if photo_videos_prev  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/foto-i-video/?page={{ photo_videos_prev }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% if not photo_videos_min|add:"0" in photo_videos_range %}

                            <li><a href="/foto-i-video/?page={{ photo_videos_min }}">{{ photo_videos_min }}</a></li>

                            {% if not photo_videos_min|add:"1" in photo_videos_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in photo_videos_range %}

                            {% if i == photo_videos_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

                            <li><a href="/foto-i-video/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>

                            {% else %}

                                <li><a href="/foto-i-video/?page={{ i }}">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not photo_videos_max|add:"0" in photo_videos_range %}

                            {% if not photo_videos_max|add:"-1" in photo_videos_range %}



                                <li><span>...</span></li>

                            {% endif %}




                            <li><a href="/foto-i-video/?page={{ photo_videos_max }}">{{ photo_videos_max }}</a></li>

                        {% endif %}



{#						<li><a href="#">9</a></li>#}

{#						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}

                        {% if photo_videos_next  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/foto-i-video/?page={{ photo_videos_next }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}

					</ul>
				</ul>
			</article>
		</div>
	</div>
</section>




{% endblock %}