{% extends 'base.html' %}
{% load staticfiles %}
{% load get_include_area %}
{% load thumbnail %}

{% block content %}


<section id="news" class="news page">
	<div class="container">
		<h1><a href="#">новости социальных сетей</a></h1>
{#    todo-sl0nn название из навзвания страницы#}
		<div class="row flexwrap">
            {% for social in socials_obj_list %}
			<article class="col-md-4 col-sm-6 social_bl">
				<a href="{{ social.get_absolute_url }}" class="social_a">

                    {% thumbnail social.image '1200x900' crop='center' format="PNG"  as im %}
                        <img src="{{ im.url }}" class="img-responsive w100" width="100%">
                    {% endthumbnail %}

{#					<img src="/media/{{ social.image }}" alt="">#}

                {% if social.title %}

					<div class="social-title">
                        {{ social.title }}

                    </div>

                {% endif %}



                    <div class="social-text">
                        {% if social.short_descr %}

                        {{ social.short_descr }}

                        {% endif %}

                    </div>



					<div class="social-icon">

                        <div class="social-icon_wrap">

                            {% if social.social == 'VK' %}

                                <i class="fa fa-vk" aria-hidden="true"></i>

                            {% endif %}

                            {% if social.social == 'FB' %}

                                <i class="fa fa-facebook" aria-hidden="true"></i>

                            {% endif %}

                            {% if social.social == 'TW' %}

                                <i class="fa fa-twitter" aria-hidden="true"></i>

                            {% endif %}

                            {% if social.social == 'OK' %}

                                <i class="fa fa-odnoklassniki" aria-hidden="true"></i>

                            {% endif %}

                            {% if social.social == 'INST' %}

                                <i class="fa fa-instagram" aria-hidden="true"></i>

                            {% endif %}


                        </div>

                    </div>

				</a>
			</article>
            {% endfor %}


			<article class="col-sm-12">
				<ul class="pagination">
					<ul>

                        {% if socials_prev  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/social/?page={{ socials_prev }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% if not socials_min|add:"0" in socials_range %}

                            <li><a href="/social/?page={{ socials_min }}">{{ socials_min }}</a></li>

                            {% if not socials_min|add:"1" in socials_range %}


                                <li><span>...</span></li>
                            {% endif %}


                        {% endif %}


                        {% for i in socials_range %}

                            {% if i == socials_page_num  %}

{#                            <a class="pag_active" href="/video/view/{{ i }}/{{ extend_pag }}">{{ i }}</a>#}

                            <li><a href="/social/?page={{ i }}" style="background-color: #f0f0f0; color: #000;">{{ i }}</a></li>

                            {% else %}

                                <li><a href="/social/?page={{ i }}">{{ i }}</a></li>

                            {% endif %}

                        {% endfor %}


                        {% if not socials_max|add:"0" in socials_range %}

                            {% if not socials_max|add:"-1" in socials_range %}



                                <li><span>...</span></li>

                            {% endif %}




                            <li><a href="/socials/?page={{ socials_max }}">{{ socials_max }}</a></li>

                        {% endif %}



{#						<li><a href="#">9</a></li>#}

{#						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}

                        {% if news_next  %}
{#                            <a href="/video/view/{{ news_prev }}/{{ extend_pag }}">&lt;</a>#}
                            <li><a href="/socials/?page={{ socials_next }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}

					</ul>
				</ul>
			</article>
		</div>
	</div>
</section>




{% endblock %}