{% load staticfiles %}
{% load get_include_area %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'include/seo.html' %}
    {% block specific_for_page_seo %}{% endblock %}

    {% include 'include/styles.html' %}
    {% block specific_for_page_styles %}{% endblock %}
</head>

<body>
{#todo-sl0nn привязать меню#}

		<header id="header" class="header-home">
			<div class="container">
				<a href="/" class="logo"><img src="/static/img/logo.png" alt=""></a>
				<button class="nav-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="row menu menu-home">
					<div class="col-md-6">
						<nav class="nav-menu nav-menu--left">
							<li><a href="#info" class="jsGo">главная</a></li>
							<li><a href="#news" class="jsGo">новости</a></li>
							<li><a href="#events" class="jsGo">мероприятия</a></li>
							<li><a href="#patriot-story" class="jsGo">истории</a></li>
						</nav>
					</div>
					<div class="col-md-6">
						<nav class="nav-menu nav-menu--right">
							<li><a href="/foto-i-video/">фото и видео</a></li>
							<li><a href="/social/">лента соцсетей</a></li>
							<li><a href="/organization/">список организаций</a></li>
						</nav>
					</div>
				</div>
			</div>
		</header>



{#{% include 'include/menu.html' with menu=menus.top_menu %}#}

{% block content %}{% endblock %}



<footer>
    <div class="container-fluid">
        <a href="#header" class="gotop">наверх <i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
        <small>{% get_include_area request 'footer_text' title='Текст в футере' content='© 2017 ПатриотИНФО' %}</small>
        <div class="smi">
            <ul>
            <li><a href="https://www.facebook.com/patriotinforu/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
{#            <li><a href="https://vk.com/patriotinforu" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
            <li><a href="https://vk.com/patriotinforu" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
{#            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
            <li><a href="https://ok.ru/group/53747051856068" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>


            </ul>

            <div class="garpix">
                <a href="https://garpix.com/" target="_blank"  class="social_garpix">Разработка сайтов <br><img src="/static/img/garpix.png" alt=""></a>
            </div>

        </div>


    </div>
</footer>

<section class="popup popup-video">
    <button class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></button>
    <iframe width="960" height="540" src="" frameborder="0" allowfullscreen class="video-frame"></iframe>
</section>

{#todo-sl0nn привязать формы#}

<section class="popup popup-form1">
    <button class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></button>
    <form action="/" class="jsForm jsFormP" name="orgs">
        <h2>Заполните форму:</h2>
        <ul class="row">
            <li class="col-sm-12"><input type="text" name="name" placeholder="Название организации"></li>
{#            <li class="col-sm-12"><input type="text" name="fio" placeholder="ФИО руководителя"></li>#}
{#            <li class="col-sm-6"><input type="text" name="email" placeholder="E-mail"></li>#}
{#            <li class="col-sm-6"><input type="text" name="phone" placeholder="Телефон"></li>#}
            <li class="col-sm-6">
                <label for="photo">Прикрепить несколько фото с мероприятий</label>
                <input type="file" name="photo" multiple="multiple" title="прикрепить несколько фото с мероприятий">
            </li>
            <li class="col-sm-6">
                <label for="file">Прикрепить файл с описанием организации</label>
                <input type="file" name="file" multiple="multiple" title="прикрепить файл с описанием организации">
            </li>

            <li class="col-sm-12 cap_bl">
{#                <div class="g-recaptcha" data-sitekey="6LfsezwUAAAAAKjzlwGPTL1bRep2DllarOuQL4FR"></div>#}
                <div id="RecaptchaField1"></div>
            </li>

            <li class="col-sm-12"><input type="submit" value="подать заявку"></li>
        </ul>
    </form>
</section>

<section class="popup popup-form2">
    <button class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></button>
    <form action="/" class="jsForm jsFormP" name="events">
        <h2>Заполните форму:</h2>
        <ul class="row">
            <li class="col-sm-12"><input type="date" name="date" placeholder="Дата мероприятия"></li>
            <li class="col-sm-12 label"><label for="name">Организатор мероприятия</label></li>
            <li class="col-sm-6"><input type="text" name="name" placeholder="Название"></li>
            <li class="col-sm-6"><input type="text" name="contacts" placeholder="Контакты"></li>
            <li class="col-sm-12"><textarea name="comment_short" placeholder="Краткое описание мероприятия" style="height:100px"></textarea></li>
            <li class="col-sm-12"><textarea name="comment" placeholder="Полное описание мероприятия" style="height:150px"></textarea></li>
            <li class="col-sm-6">
                <label for="photo">Прикрепить фото мероприятия</label>
                <input type="file" name="photo" multiple="multiple" title="прикрепить несколько фото с мероприятий">
            </li>
            <li class="col-sm-6">
                <label for="file">Прикрепить фото в описание организации</label>
                <input type="file" name="file" multiple="multiple" title="прикрепить файл с описанием организации">
            </li>

            <li class="col-sm-12 cap_bl">
{#                <div class="g-recaptcha" data-sitekey="6LfsezwUAAAAAKjzlwGPTL1bRep2DllarOuQL4FR"></div>#}
                <div id="RecaptchaField2"></div>
            </li>

            <li class="col-sm-12"><input type="submit" class="" value="подать заявку"></li>
        </ul>
    </form>
</section>




{% include 'include/scripts.html' %}
{% block specific_for_page_scripts %}{% endblock %}

{#{% get_include_area request 'ia_footer_text' title='Текст в футере' content='Все права защищены &copy;' %}#}

{#{% include 'include/menu.html' with menu=menus.bottom_menu %}#}

</body>
</html>